vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}

.circle-button {
  width: 40px;            /* Width and height must be the same */
  height: 40px;
  border-radius: 50%;     /* 50% border-radius ensures a circular shape */
  padding: 0;             /* Ensure no padding */
  font-size: 24px;        /* Adjust font size for the plus sign */
  text-align: center;
  color: white;
  background-color: #0056b3;
  border: none;           /* Remove border */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.circle-button:hover {
  background-color: cornflowerblue; /* Darker shade for hover effect */
}

.circle-button:focus {
  outline: none;      /* Remove outline when focused */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.circle-button-container {
  width: 40px;            /* Width and height must be the same */
  height: 40px;
  margin: 10px;
}


/* ********************************************************************************* */
.vaadin-grid-generator {
    padding: 0;
    margin-right: 20px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;

}

.vaadin-grid-generator::part(header-cell) {
    background: #666666;
    color: #dddddd;
    font-weight: bold;
    font-size: 16px;
}

.vaadin-subgrid-generator {
    background: #888888;
}

.vaadin-subgrid-generator::part(header-cell) {
    background: #337799;
    color: #white;
    font-weight: bold;
}


.vaadin-subgrid-generator::part(even-row-cell) {
    background: #888888;
    color: white;
}

.vaadin-subgrid-generator::part(odd-row-cell) {
    background: #767676;
    color: white;
}

vaadin-select-overlay.viavea-subgrid-select::part(overlay) {
    background: #888888;
    color: #white;
}


/*  TEST af grid selection   */

vaadin-grid::part(selected-row-cell) {
    border-top: #337799;
    border-bottom: #337799;
/*
    border-top: var(--selected-row-border);
    border-bottom: var(--selected-row-border);
*/
}

vaadin-grid::part(selected-row-cell first-column-cell) {
    border-left: #337799;
/*    border-left: var(--selected-row-border); */
}
vaadin-grid::part(selected-row-cell last-column-cell) {
/*    border-right: var(--selected-row-border); */
    border-left: #337799;
}


/* Editable CSS style of GridPro cells  */

vaadin-grid-pro.editable-custom-effect::part(editable-cell):hover,
vaadin-grid-pro.editable-custom-effect::part(editable-cell focused-cell) {
  background: var(--lumo-contrast-10pct);
}

vaadin-grid-pro.editable-custom-effect::part(editable-cell) {
  background: var(--lumo-contrast-5pct);
}


.viavea-on-top {
    position: relative;
    z-index: 1000;
}

.viavea-zero-margin-padding {
    margin: 0px;
    padding: 0px;
}

.search-field {
    margin: 0px;
    padding: 0px;
}

.icon-plus {
    color: #dddddd;
    margin: 0px;
    padding: 0px;
}

.icon-trash {
    color: #dddddd;
    margin: 0px;
    padding: 0px;
    height: 22px;
    width: 22px;
}


/* https://cssloaders.github.io/ */
.loader {
        width: 64px;
        height: 64px;
        position: relative;
        background-image:
          linear-gradient(#FFF 16px, transparent 0) ,
          linear-gradient(#337799 16px, transparent 0) ,
          linear-gradient(#337799 16px, transparent 0) ,
          linear-gradient(#FFF 16px, transparent 0);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: left top , left bottom , right top , right bottom;
        animation: rotate 1s linear infinite;
      }
      @keyframes rotate {
        0% {
          width: 64px;
          height: 64px;
          transform: rotate(0deg)
        }
        50% {
          width: 30px;
          height: 30px;
          transform: rotate(180deg)
        }
        100% {
          width: 64px;
          height: 64px;
          transform: rotate(360deg)
        }
      }

.dimmer {
  filter: brightness(70%);
}

